﻿<%@ Page Title="Add Course" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Add-Course.aspx.cs" Inherits="Courses_Add_Course" %>

<asp:Content runat="server" ContentPlaceHolderID="MainContent">

</asp:Content>